body {
    margin: auto;
    width: 50%;
    background-color: #00004d;
   
}

.tick line {
    visibility: hidden;
}

#my_dataviz {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;
}

#scroll {
    position: relative;
    padding: 1rem;
}

article {
    position: relative;
}

.step {
    margin: 0 auto 0 auto;
    margin-bottom: 10%;
    max-height: 200px;
    width: 60%;
    background-color: #2B2F77;
    opacity: 0.6;
}

.step:last-child {
    margin-bottom: 50%;
}


.step p {
    text-align: justify;
    padding: 8%;
    font-size: 16px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#my_dataviz {
    position: absolute;
}

#background {
    position: absolute;
    height: 2500px;
    /*width: 950px;*/
    width: 100%;
}
