body {
    background-color: black;
}

.tick line {
    visibility: hidden;
}

#scroll {
    position: relative;
}

article {
    position: relative;
}

.step {
 
  
    max-height: 150px;
    
   
}

.step:last-child {
    margin-bottom: 50%;
}


.step p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

